.theme {
    background-color: #CEECFA;
}

.theme h1 {
    text-align: center;
    font-style: italic;
}

.login {
    text-align: center;
}

.login_button {
    background-color:white;
    color: black;
}

@media (min-width:900px) and (max-width:1000px) {
    .theme {
        width: 100%;
    }
    .theme h1 {
        font-size: large;
        width: 100%;
    }
}