{% block javascript %}{% endblock javascript %}
{% load static %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" id="login-css" />
<script src="{% static 'js/login.js' %}"></script>


{% block content %}
    <div class="login-wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src=" {% static 'images/poke.jpg' %}" id="icon" alt="User Icon" />
            </div>
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="email" id="recuperar_password_correo" class="fadeIn second mt-2 mb-2"
                        name="recuperar_password_correo" placeholder="Ingresa tu correo"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                    <input type="submit" class="fadeIn fourth" value="Recuperar" />
                </form>
            </div>
        </div>
        <a href="{% url 'login_user' %}" class="mt-5" id="ingresar_sistema">Ingresar al sistema</a>
    </div>
{% endblock content %}
