<!-- Menú dinamico para la categoria del Paciente -->
<div class="fixed-card">
<section class="card">
    <aside class="profile-nav alt green-border">
        <section class="card">

            <div class="user-heading alt bg-secondary text-center custom-dashboard-header">
                    <h5 class="mb-0">IJKNF</h5>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item">
                    <a class="nav-link" href=""> <i class="{{ link.icono }} text-primary"></i>KJNF</a>
                </li>
            </ul>

        </section>
    </aside>
</section>

<!-- Menú dinamico para la categoria de la Consulta-->
<section class="card">
    <aside class="profile-nav alt green-border">
        <section class="card">

            <div class="user-heading alt bg-secondary text-center custom-dashboard-header">
                    <h5 class="mb-0">HOLA</h5>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item">
                    <a class="nav-link" href=""> <i class="{{ link.icono }} text-primary"></i>kjnk</a>
                </li>
            </ul>

        </section>
    </aside>
</section>
</div>